<div>
  <p>
    <strong>Name:</strong>
    <%= kitten.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= kitten.age %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= kitten.cuteness %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= kitten.softness %>
  </p>
</div>
