<p style="color: green"><%= notice %></p>

<h1>List of all The Kittens</h1>

<div>
  <% @kittens.each do |kitten| %>
    <%= render kitten %>
    <p>
      <%= link_to "Show this kitten", kitten %>
    </p>
  <% end %>
</div>

<%= link_to "Add kitten to list", new_kitten_path %>
